site_name: Roerich
site_url: https://hse-lambda.github.io/roerich/
repo_url: https://github.com/HSE-LAMBDA/roerich
edit_uri: tree/main/docs
repo_name: GitHub
docs_dir: docs
site_dir: site
theme:
    name: readthedocs
    highlightjs: true
    include_homepage_in_sidebar: true
    prev_next_buttons_location: bottom
markdown_extensions:
    - markdown_include.include
    - extra
    - tables
    - mdx_math:
        enable_dollar_delimiter: True
    - fenced_code
extra_javascript:
    - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML
plugins:
  - mknotebooks
  - search
  # - mkdocs-jupyter
nav:
    - Home: 'index.md'
    - Change point: about.md
    - Detection algorithms:
        - EnergyDistanceCalculator: energy.md
        - ChangePointDetectionClassifier: cpdclassifier.md
        - ChangePointDetectionClassifierCV: cpdclassifier_cv.md
        - ChangePointDetectionRuLSIF: cpdrulsif.md
        - OnlineNNClassifier: onnc.md
        - OnlineNNRuLSIF: onnr.md
    - Explanation:
        - MatrixImportance: matrix.md
    - Density ratio:
        - GBDTRuLSIFRegressor: gbdtrulsif.md
        - NNRuLSIFRegressor: nnrulsif.md
        - NNClassifier: nnclassifier.md
    - Quality metrics:
        - Precision and Recall: pr.md
    - Examples:
      - Basics: examples/demo.ipynb
      - Human activity recognition: examples/wisdm.ipynb
      - Earthquake detection: examples/seismic.ipynb
